@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
html,body{
  background-color: #ddf0ff;
  margin:0;
  padding:0;
  color:white;
}
.MuiOutlinedInput-input-root.Mui-focused,.MuiOutlinedInput-notchedOutline{
  border-color:black !important;
}

